/* @font-face {
  font-family: "HankenGrotesk-Bold";
  src: url("/public/fonts/static/HankenGrotesk-Bold.ttf");
}
@font-face {
  font-family: "HankenGrotesk-ExtraBold";
  src: url("/public/fonts/static/HankenGrotesk-ExtraBold.ttf");
}
@font-face {
  font-family: "HankenGrotesk-Medium";
  src: url("/public/fonts/static/HankenGrotesk-Medium.ttf");
}

body{
  font-family: HankenGrotesk-Medium;
} */

:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  --light-slate-blue-background: hsl(252, 100%, 67%);
  --light-royal-blue-background: hsl(241, 81%, 54%);

  --violet-blue-circle: hsla(256, 72%, 46%, 1);
  --persian-blue-circle: hsla(241, 72%, 46%, 0);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

.mainBox {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statBox {
  display: flex;
  min-height: 360px;
  min-width: 500px;
  border-radius: 20px;

  box-shadow: var(--light-lavender) 0px 50px 100px -20px,
    var(--white) 0px 30px 60px -30px;

  background-color: var(--white);
}

.rotBox {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;

  font-size: 18px;

  min-height: clamp(190px, 360px, 400px);
  width: 250px;
  border-radius: 20px;

  color: var(--white);
  padding: 10px;

  background-image: linear-gradient(
    var(--light-slate-blue-background),
    var(--light-royal-blue-background)
  );
}

.statusWindow {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  min-height: 190px;
  width: 240px;
  border-radius: 20px;

  padding: 15px;
  font-size: 18px;

  font-weight: 800;
  color: var(--Dark-gray-blue);

  background-color: var(--white);
}

.circleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 150px;
  min-width: 150px;

  border-radius: 50%;

  /* background-color: red; */

  background-image: linear-gradient(
    var(--violet-blue-circle),
    var(--persian-blue-circle)
  );
}

.txtclr {
  color: var(--light-lavender);
}

.randomTxt {
  font-size: 14px;
  color: var(--light-lavender);
  text-align: center;
}

.gamerGoo {
  text-align: left;
  display: flex;
  align-items: left;
  width: 100%;
}

.attributesCollection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 88%;
  margin: 5px;
  margin-bottom: 30px;
}

.reactionBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
  height: 40px;
  border-radius: 10px;
  /* background-color: rgba(255, 0, 0, 0.05); */
  background-color: hsla(0, 100%, 67%, 0.05);
  margin: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.reactionTxtBig {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 100%;
}

.reactionScore {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.outOf100 {
  color: var(--light-lavender);
}

.continueButton {
  width: 82%;
  height: 38px;
  border-radius: 60px;
  background-color: var(--Dark-gray-blue);
  color: white;
  border-width: 0px;
}

.continueButton:hover {
  background-image: linear-gradient(
    var(--light-slate-blue-background),
    var(--light-royal-blue-background)
  );
  color: var(--white);
}

.continueButton:active {
  background-image: linear-gradient(
    var(--light-slate-blue-background),
    var(--light-royal-blue-background)
  );
  color: var(--white);
}

.continueButton:focus {
  background-image: linear-gradient(
    var(--light-slate-blue-background),
    var(--light-royal-blue-background)
  );
  color: var(--white);
}

.circleBigText{
  font-size: 50px;
   font-weight: 800;
}

.greatTxt{
  font-size: 24px;
   font-weight: 500;
}


@media only screen and (max-width: 545px) {

  body{
    padding: 0px;
    margin: 0px;
  }

  .mainBox{
    justify-content: left;
  }

  .statBox {
    min-width: 270px;
    flex-direction: column;
  }

  .statusWindow{
    min-height: auto;
  }

  .rotBox{
    min-height: 230px;
    padding-bottom: 15px;
    border-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .txtclr{
    height: 30px;
  }

  .circleBox{
    min-height: 100px;
    min-width: 100px;
  }

  .circleBigText{
    font-size: 40px;
  }

  .pEditingMedia{
    
    display: flex;
    flex-direction: column;
    align-content: left;
    margin-top: 0;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;

  }

  .randomTxt{
    font-size: 12px;
  }

  .greatTxt{
    font-size: 20px;
  }

  .greatPara{   
    margin-bottom: 5px;
  }
}